{% extends 'myapp/base.html' %}
<!-- EP6 ทำ block content กับหน้า base.html -->

{% load humanize %} <!--EP12 จะทำใส่คอมม่าทุกๆสามหลัก -->

{% block content %}
<!-- EP15 ทำสถานะการสั่งซื้อ -->


<div class="container">
  <h2>รายการสั่งซื้อทั้งหมด (แอดมิน)</h2>
  <p>รายการสั่งซื้อและสถานะของการสั่งซื้อ</p>            
  <table class="table">
    <thead>
      <tr>
        <th>เวลาสั่งซื้อ</th>
        <th>Order id</th>
        <th>ยอดรวม</th>
        <th>สลิป</th>
      </tr>
    </thead>
    <tbody> 
      {% for od in allorder %}
      <tr>   
        <td>{{od.stamp}}</td> 
        <td>{{od.orderid}} {{od.name}}</td>
        <td>{{od.total}}</td>
        <td>
        {% if od.slip %}
              <a href="{{od.slip.url}}" >ดูสลิป</a>
        {% else %}
            <a href="#" class="btn btn-primary">ยังไม่โอน</a>
        {% endif %}
        </td>
      </tr>        
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock content %}
