{% extends 'myapp/base.html' %} 
<!--import base.html ((ไม่ต้องใส่ template/myapp/base.html)เพราะtemplate ตั้งค่าที่setting.แล้ว) -->

{% block content %}
<div class="col-sm-4">
      <img src="https://static.thairath.co.th/media/HCtHFA7ele6Q2dUMyaGYLil3AIMHkiZ9CVQzoeTvnVv3VXbm3qf1azcOcv0GUFhMmG.jpg" width="300">

      <a href="{% url 'apple-page' %}"><h3>{{  product1 }}</h3></a>
      <p>แอปเปิ้ลชิ้นนี้นำเข้าจากประเทศนิวซีแลนด์</p>
      <p>ซื้อ 1 กิโลกรัม แถมฟรี อีก 1 กิโลกรัมด่วน...</p>
    </div>

      <p>แอปเปิล (อังกฤษ: apple; ชื่อวิทยาศาสตร์: Malus domestica) เป็นต้นไม้ผลัดใบในวงศ์กุหลาบ มีผลรสหวานเรียกว่า ผลแอปเปิล แอปเปิลมีปลูกอยู่ทั่วโลกในลักษณะของไม้ผล และสายพันธุ์ที่ถูกปลูกมากที่สุดคือสกุล Malus ต้นแอปเปิลมีต้นกำเนิดในเอเชียกลาง ซึ่งบรรพบุรุษคือ Malus sieversii ยังคงพบได้ในปัจจุบัน แอปเปิลมีปลูกเป็นเวลาหลายพันปีในเอเชียและยุโรป และกลุ่มอาณานิคมชาวยุโรปนำมาปลูกที่อเมริกาเหนือ แอปเปิลมีความสำคัญทางศาสนาและเทพปกรณัมในหลายวัฒนธรรม รวมถึงนอร์ส กรีก และประเพณีต่าง ๆ ของคริสต์ศาสนิกชนของชาวยุโรป

ต้นแอปเปิลจะมีขนาดใหญ่หากเติบโตจากเมล็ด แต่จะมีขนาดเล็กถ้าถูกตัดต่อเนื้อเยื่อเข้ากับราก ปัจจุบันมีแอปเปิลที่พันธุ์ปลูกมากกว่า 7,500 ชนิด ทำให้แอปเปิลมีลักษณะพิเศษหลากหลาย พันธุ์ปลูกแต่ละพันธุ์จะมีรสชาติแตกต่างกัน และการนำไปใช้ต่างกันด้วย เช่น นำไปประกอบอาหาร กินดิบ ๆ หรือนำไปผลิตไซเดอร์ ปกติแอปเปิลจะแพร่พันธุ์ด้วยการตัดต่อเนื้อเยื่อ แต่แอปเปิลป่าจะเติบโตได้เองจากเมล็ด ต้นแอปเปิลและผลแอปเปิลอาจประสบปัญหาจากจากเห็ดรา แบคทีเรีย และศัตรูพืชต่าง ๆ ซึ่งอาจควบคุมได้ด้วยวิธีการทางเกษตรอินทรีย์และอนินทรีย์หลายวิธี ใน ค.ศ. 2010 มีการถอดรหัสจีโนมของแอปเปิล เป็นส่วนหนึ่งของงานวิจัยควบคุมโรคและการคัดเลือกผสมพันธุ์ในการผลิตแอปเปิล

ใน ค.ศ. 2013 มีการปลูกแอปเปิลประมาณ 80 ล้านตันขึ้นทั่วโลก ประเทศจีนผลิตได้จำนวนเกือบครึ่งหนึ่งของจำนวนดังกล่าว[3] สหรัฐอเมริกาเป็นผู้ผลิตแอปเปิลมากที่เป็นอันดับที่สอง ด้วยการผลิตมากกว่า 6% ประเทศตุรกีเป็นที่สาม ตามด้วยประเทศอิตาลี อินเดีย และโปแลนด์ แอปเปิลมักนิยมกินดิบ แต่สามารถพบได้ในอาหารที่เตรียมขึ้น (โดยเฉพาะของหวาน) และเครื่องดื่ม มีความคิดว่าแอปเปิลส่งผลดีต่อสุขภาพมากมาย แต่อย่างไรก็ตาม โปรตีนในแอปเปิลอาจทำให้เกิดอาการแพ้ได้</p>

<a href="{% url 'home-page' %}">กลับหน้าแรก</a>

{% endblock content %}   
