{% extends 'myapp/base.html' %} <!-- EP6 ทำ block content กับหน้า base.html -->
{% block content %}

  <center>

    <div class="col-sm-4">
      <img src="https://media.istockphoto.com/id/871601012/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%81%E0%B8%AD%E0%B8%9B%E0%B9%80%E0%B8%9B%E0%B8%B4%E0%B9%89%E0%B8%A5-kanzi-%E0%B9%81%E0%B8%A2%E0%B8%81.jpg?s=612x612&w=0&k=20&c=4aXBGhYsleIMN8-j6Q6CpFhWSqS2466nBTB6M8H9yYE=                                  " width="300">
      <h3>{{ product1 }}</h3>
      <p>แอปเปิ้ลล็อตนี้นำเข้าจากนิวซีแลนด์</p>
      <p>ซื้อ1กิโลกรัมแถมฟรีอีกหนึ่งกิโลกรัมด่วน!!</p>
    </div>
</center>

    <p>
    แอปเปิล (อังกฤษ: apple; ชื่อวิทยาศาสตร์: Malus domestica) เป็นต้นไม้ผลัดใบในวงศ์กุหลาบ มีผลรสหวานเรียกว่า ผลแอปเปิล แอปเปิลมีปลูกอยู่ทั่วโลกในลักษณะของไม้ผล และสายพันธุ์ที่ถูกปลูกมากที่สุดคือสกุล Malus ต้นแอปเปิลมีต้นกำเนิดในเอเชียกลาง ซึ่งบรรพบุรุษคือ Malus sieversii ยังคงพบได้ในปัจจุบัน แอปเปิลมีปลูกเป็นเวลาหลายพันปีในเอเชียและยุโรป และกลุ่มอาณานิคมชาวยุโรปนำมาปลูกที่อเมริกาเหนือ แอปเปิลมีความสำคัญทางศาสนาและเทพปกรณัมในหลายวัฒนธรรม รวมถึงนอร์ส กรีก และประเพณีต่าง ๆ ของคริสต์ศาสนิกชนของชาวยุโรป
  </p>

</div>

{% endblock content %}