{% extends 'myapp/base.html' %}
<!-- EP6 ทำ block content กับหน้า base.html -->
{% load humanize %} <!--EP12 จะทำใส่คอมม่าทุกๆสามหลัก -->
<!--EP13 checkout2 -->
{% block content %}
<div class="container">
  <h3>ข้อมูลการจัดส่ง</h3>
    ORDERID: {{order.orderid}}
    <p>ชื่อผู้รับ: {{order.name}} <br>
      เบอร์โทร: {{order.tel}} <br>
      ที่อยู่จัดส่ง: {{order.address}} <br>
      {% if order.shipping == 'ems' %}
          รูปแบบการจัดส่ง: EMS
      {% else %}
          รูปแบบการจัดส่ง: ลงทะเบียน

      {% endif %}<br>

      {% if order.payment == 'transfer' %}
          ชำระผ่าร: โอนเงินเข้าบัญชีธนาคาร
      {% else %}
          รูปแบบการจัดส่ง: เก็บเงินปลายทาง

      {% endif %}<br>
      หมายเหตุ: {{other}}<br>

    </p>
</div>

<div class="container">
  <h2>สินค้าทั้งหมด</h2>
  <p>รายการสินค้าที่สั่งซื้อ</p>            
  <table class="table">
    <thead>
      <tr>
        <th>รหัส</th>
        <th>สินค้า</th>
        <th>ราคา</th>
        <th>จำนวน</th>
        <th>รวมยอด</th>
      </tr>
    </thead>
    <tbody>

      {% for pd in orlist %}
      <tr>
        <td>{{pd.productid}}</td>
        <td>{{pd.productname}}</td>
        <td>{{pd.price|intcomma}}</td>
        <td>{{pd.quantity|intcomma}}</td>
        <td>{{pd.total|intcomma}}</td>
        
      </tr>        
      {% endfor %}

      <tr>

        <td><h4>Total</h4></td>
        <td></td>
        <td></td>
        <td><h4>{{count|intcomma}}</h4></td>
        <td><h4>{{total|intcomma}}</h4></td> <!--|intcomma คือใส่ comma ทุกๆสามหลัก -->
      </tr>

 
    </tbody>
  </table><br>
    <p>ค่าส่ง: {{order.shipcost|intcomma}}</p>
    <h3>รวมยอดโอนทั้งหมด: {{total|add:order.shipcost|intcomma}}</h3>

    <h4>โอนมาบัญชีนี้ได้เลย</h4><br>
      <p>
      ธนาคารกาสิกร สาขา สยามพารากอน<br>
      เลขบัญชี: 999999-999999<br>
      ชื่อบัญชี: ผมหล่อมาก
    </p>

</div>



{% endblock content %}
