{% extends 'myapp/base.html' %}
<!-- EP6 ทำ block content กับหน้า base.html -->

{% load humanize %} <!--EP12 จะทำใส่คอมม่าทุกๆสามหลัก -->

{% block content %}
<!-- EP15 ทำสถานะการสั่งซื้อ -->


<div class="container">
  <h2>รายการสั่งซื้อทั้งหมด</h2>
  <p>รายการสั่งซื้อและสถานะของการสั่งซื้อ</p>            
  <table class="table">
    <thead>
      <tr>
        <th>เวลาสั่งซื้อ</th>
        <th>Order id</th>
        <th>ยอดรวม</th>
        <th>สถานะ</th>
        <th>Tracking No.</th>

      </tr>
    </thead>
    <tbody> 
      {% for od in allorder %}
      <tr>   
        <td>{{od.stamp}}</td> 
        <td>{{od.orderid}}</td>
        <td>{{od.total}}</td>
        <td>
        {% if od.paid %}
             <i class="fa fa-money" style="font-size:16px;color:green;"></i> จ่ายเงินแล้ว
        {% else %}
            <a href="{% url 'uploadslip-page' od.orderid %}" class="btn btn-primary">อัพโหลดสลิป</a>
            <!-- od.orderid สามารถอ้างถึง order id ได้เลยเพื่อให้ข้อมูลสามารถลิงค์กันได้  -->
        {% endif %}
        </td>
        <td>
          {% if od.trackingnumber != None %}
            {{od.trackingnumber}}
        {% endif %}
      </td>

      </tr>        
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock content %}
