{% extends 'myapp/base.html' %} 
<!--import base.html ((ไม่ต้องใส่ template/myapp/base.html)เพราะtemplate ตั้งค่าที่setting.แล้ว) -->

{% block content %}

<!--EP8 หน้าสมัครสมาชิก-->
<div class="container" style="margin-bottom: 100px;">

<h2>สมัครสมาชิก</h2>
	<p>กรุณากรอกข้อมูลสมัครสมาชิก</p>

	<form method="POST">
	 	{% csrf_token %} <!-- ระบบความปลอดภัยของ Django	-->

		<div class="form-group">
			<label for="first_name">ชื่อ:</label>
			<input type="text" class="form-control" id="first_name" name="first_name">
		</div>

		<div class="form-group">
			<label for="last_name">นามสกุล:</label>
			<input type="text" class="form-control" id="last_name"last_ name="last_name">
		</div>

		<div class="form-group">
			<label for="email">อีเมลล์</label>
			<input type="email" class="form-control" id="email" name="email">
		</div>

		<div class="form-group">
			<label for="password">รหัสผ่าน</label>
			<input type="password" class="form-control" id="password" name="password">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock content %}
