{% extends 'myapp/base.html' %}
<!--import base.html ((ไม่ต้องใส่ template/myapp/base.html)เพราะtemplate ตั้งค่าที่setting.แล้ว) -->
{% load humanize %} <!--EP12 จะทำใส่คอมม่าทุกๆสามหลัก -->
{% block content %}

<!--EP17 หน้าส่งเลข EMS-->
<div class="container" style="margin-bottom: 100px">
  <h2>เลขพัสดุ</h2>
  <p>ORDERID: {{orderid}}</p>

  <form method="POST">
    {% csrf_token %}
    <!-- ระบบความปลอดภัยของ Django	-->

    <div class="form-group">
      <label for="trackingnumber">เลขพัสดุ / EMS /ลงทะเบียน /</label>
      <input type="text"class="form-control"id="trackingnumber"name="trackingnumber"
      />
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div><br>

<div class="container">
  <h3>ข้อมูลการจัดส่ง</h3>
  
    <p>ชื่อผู้รับ: {{oder.name}} <br>
      เบอร์โทร: {{order.tel}} <br>
      ที่อยู่จัดส่ง: {{order.address}} <br>
      {% if order.shipping == 'ems' %}
          รูปแบบการจัดส่ง: EMS
      {% else %}
          รูปแบบการจัดส่ง: ลงทะเบียน

      {% endif %}<br>

      {% if order.payment == 'transfer' %}
          ชำระผ่าร: โอนเงินเข้าบัญชีธนาคาร
      {% else %}
          รูปแบบการจัดส่ง: เก็บเงินปลายทาง

      {% endif %}<br>
      หมายเหตุ: {{other}}<br>

    </p>
</div>

<div class="container">
  <h2>สินค้าทั้งหมด</h2>
  <p>รายการสินค้าที่สั่งซื้อ</p>            
  <table class="table">
    <thead>
      <tr>
        <th>รหัส</th>
        <th>สินค้า</th>
        <th>ราคา</th>
        <th>จำนวน</th>
        <th>รวมยอด</th>
      </tr>
    </thead>
    <tbody>

      {% for pd in orlist %}
      <tr>
        <td>{{pd.productid}}</td>
        <td>{{pd.productname}}</td>
        <td>{{pd.price|intcomma}}</td>
        <td>{{pd.quantity|intcomma}}</td>
        <td>{{pd.total|intcomma}}</td>
        
      </tr>        
      {% endfor %}

      <tr>

        <td><h4>Total</h4></td>
        <td></td>
        <td></td>
        <td><h4>{{count|intcomma}}</h4></td>
        <td><h4>{{total|intcomma}}</h4></td> <!--|intcomma คือใส่ comma ทุกๆสามหลัก -->
      </tr>

 
    </tbody>
  </table><br>
    <p>ค่าส่ง: {{order.shipcost|intcomma}}</p>
    <h3>รวมยอดโอนทั้งหมด: {{total|add:order.shipcost|intcomma}}</h3>

</div>
{% endblock content %}
